<h1>All Customers</h1>

<%= render partial: 'customer', collection: @customers %>


<%= link_to 'Missing Email', C:\Users\mgamb\OneDrive\Desktop\fullstack\Rails\Challenges\MaryamGambo_Challenge6\customer_relation_manager\app\views\customers\missing_email %>
<%= link_to 'Alphabetized', C:\Users\mgamb\OneDrive\Desktop\fullstack\Rails\Challenges\MaryamGambo_Challenge6\customer_relation_manager\app\views\customers\alphabetized %>
