<h1 class="is-size-2"><strong>All Customers</strong></h1>

<div class="card-container">
<%= render partial: 'customer', collection: @customers %>
</div>


<%= link_to 'Missing Email', missing_email_customers_path %>
<%= link_to 'Alphabetized', alphabetized_customers_path %>


